In [1]:
--Overview of the dataset
SELECT TOP 5 *
FROM Attrition

Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [4]:
--What's the percent of attrition?
SELECT
	attrition,
	COUNT(attrition) * 100 / (SELECT COUNT(attrition) FROM Attrition) AS 'PERCENT'
FROM Attrition
GROUP BY attrition;

attrition,PERCENT
Yes,16
No,83

In [5]:
--Breakdown of the employees that left and their education level
SELECT 
	education, 
	COUNT(education) AS Total_Count
FROM Attrition
WHERE attrition = 'Yes'
GROUP BY education
ORDER BY education;

education,Total_Count
1,31
2,44
3,99
4,58
5,5

In [6]:
--Breakdown of attrition by education field
SELECT
	educationfield,
	COUNT(educationfield) AS 'Total_Count'
FROM Attrition
WHERE attrition = 'Yes'
GROUP BY educationfield
ORDER BY educationfield;

educationfield,Total_Count
Human Resources,7
Life Sciences,89
Marketing,35
Medical,63
Other,11
Technical Degree,32

In [5]:
--What's the average working environment by job role for those who quit?
--Need to convert data type to calculate average; environmentsatisfaction was in varchar(50).
SELECT
	jobrole,
	AVG(CAST(environmentsatisfaction AS INT)) AS 'Average_Environment Satisfaction'
FROM Attrition
WHERE attrition = 'Yes'
GROUP BY jobrole
ORDER BY jobrole;

jobrole,Average_Environment Satisfaction
Healthcare Representative,2
Human Resources,2
Laboratory Technician,2
Manager,1
Manufacturing Director,2
Research Director,3
Research Scientist,2
Sales Executive,2
Sales Representative,2

In [8]:
--What is the breakdown of distance from home by jobrole and attrition?
SELECT
	employeenumber,
	jobrole,
	distancefromhome
FROM Attrition
WHERE attrition = 'Yes'
ORDER BY jobrole, distancefromhome DESC;

employeenumber,jobrole,distancefromhome
282,Healthcare Representative,29
1082,Healthcare Representative,24
165,Healthcare Representative,23
1821,Healthcare Representative,21
587,Healthcare Representative,20
1127,Healthcare Representative,2
1295,Healthcare Representative,15
1421,Healthcare Representative,14
1033,Healthcare Representative,11
1467,Human Resources,9
1747,Human Resources,8
133,Human Resources,6
590,Human Resources,23
1714,Human Resources,22
1944,Human Resources,22
1818,Human Resources,20
566,Human Resources,2
1842,Human Resources,18
608,Human Resources,17
1844,Human Resources,13
1098,Human Resources,1
190,Laboratory Technician,9
1807,Laboratory Technician,9
1534,Laboratory Technician,9
1494,Laboratory Technician,9
1684,Laboratory Technician,8
1783,Laboratory Technician,8
454,Laboratory Technician,8
1156,Laboratory Technician,8
647,Laboratory Technician,7
147,Laboratory Technician,7
1649,Laboratory Technician,7
1299,Laboratory Technician,7
1309,Laboratory Technician,7
2032,Laboratory Technician,7
137,Laboratory Technician,6
811,Laboratory Technician,6
932,Laboratory Technician,6
1017,Laboratory Technician,5
65,Laboratory Technician,5
593,Laboratory Technician,4
1106,Laboratory Technician,4
960,Laboratory Technician,4
538,Laboratory Technician,3
405,Laboratory Technician,3
1333,Laboratory Technician,3
355,Laboratory Technician,29
1420,Laboratory Technician,28
55,Laboratory Technician,25
911,Laboratory Technician,25
19,Laboratory Technician,24
392,Laboratory Technician,24
622,Laboratory Technician,24
1604,Laboratory Technician,24
1907,Laboratory Technician,24
1107,Laboratory Technician,21
918,Laboratory Technician,2
927,Laboratory Technician,2
364,Laboratory Technician,2
328,Laboratory Technician,2
4,Laboratory Technician,2
243,Laboratory Technician,2
1569,Laboratory Technician,2
1692,Laboratory Technician,2
1504,Laboratory Technician,2
1464,Laboratory Technician,2
1458,Laboratory Technician,2
1219,Laboratory Technician,17
1960,Laboratory Technician,17
394,Laboratory Technician,16
1042,Laboratory Technician,16
1052,Laboratory Technician,15
1160,Laboratory Technician,15
1010,Laboratory Technician,14
325,Laboratory Technician,14
1175,Laboratory Technician,12
1079,Laboratory Technician,10
584,Laboratory Technician,10
1279,Laboratory Technician,10
816,Laboratory Technician,1
1111,Laboratory Technician,1
331,Laboratory Technician,1
64,Laboratory Technician,1
376,Manager,29
1038,Manager,2
787,Manager,2
1277,Manager,2
582,Manager,15
179,Manufacturing Director,8
1360,Manufacturing Director,7
926,Manufacturing Director,3
261,Manufacturing Director,23
1389,Manufacturing Director,22
1572,Manufacturing Director,2
1573,Manufacturing Director,2
1809,Manufacturing Director,10
342,Manufacturing Director,10
1459,Manufacturing Director,1
825,Research Director,2
58,Research Director,12
90,Research Scientist,9
991,Research Scientist,9
433,Research Scientist,8
1433,Research Scientist,8
1878,Research Scientist,7
31,Research Scientist,6
848,Research Scientist,5
1939,Research Scientist,5
1210,Research Scientist,5
1081,Research Scientist,4
514,Research Scientist,4
510,Research Scientist,3
297,Research Scientist,3
1203,Research Scientist,3
702,Research Scientist,3
1537,Research Scientist,3
1101,Research Scientist,29
1108,Research Scientist,25
881,Research Scientist,25
565,Research Scientist,25
1868,Research Scientist,24
1310,Research Scientist,23
1004,Research Scientist,22
977,Research Scientist,2
1053,Research Scientist,2
828,Research Scientist,2
440,Research Scientist,2
752,Research Scientist,19
923,Research Scientist,18
315,Research Scientist,18
1405,Research Scientist,17
1767,Research Scientist,17
1905,Research Scientist,16
33,Research Scientist,16
161,Research Scientist,14
1016,Research Scientist,11
994,Research Scientist,10
1200,Research Scientist,10
701,Research Scientist,10
1248,Research Scientist,10
1522,Research Scientist,1
1792,Research Scientist,1
2027,Research Scientist,1
780,Research Scientist,1
741,Research Scientist,1
45,Research Scientist,1
300,Research Scientist,1
118,Sales Executive,9
1188,Sales Executive,9
1157,Sales Executive,9
1716,Sales Executive,9
1457,Sales Executive,9
723,Sales Executive,8
796,Sales Executive,8
163,Sales Executive,6
142,Sales Executive,5
1319,Sales Executive,5
291,Sales Executive,4
401,Sales Executive,4
488,Sales Executive,4
1100,Sales Executive,4
720,Sales Executive,3
967,Sales Executive,3
445,Sales Executive,3
1037,Sales Executive,29
2055,Sales Executive,28
1797,Sales Executive,27
785,Sales Executive,27
283,Sales Executive,27
299,Sales Executive,26
684,Sales Executive,26
1967,Sales Executive,26
1318,Sales Executive,25
1489,Sales Executive,24
1968,Sales Executive,24
986,Sales Executive,24
1165,Sales Executive,23
492,Sales Executive,22
175,Sales Executive,20
842,Sales Executive,2
1862,Sales Executive,2
502,Sales Executive,19
1380,Sales Executive,18
1758,Sales Executive,16
1761,Sales Executive,16
819,Sales Executive,16
1645,Sales Executive,15
1933,Sales Executive,13
1733,Sales Executive,13
1372,Sales Executive,13
1487,Sales Executive,13
650,Sales Executive,13
1167,Sales Executive,12
1667,Sales Executive,12
840,Sales Executive,11
631,Sales Executive,11
1639,Sales Executive,10
1869,Sales Executive,10
2044,Sales Executive,1
1562,Sales Executive,1
1734,Sales Executive,1
1,Sales Executive,1
970,Sales Executive,1
1113,Sales Executive,1
1077,Sales Representative,9
27,Sales Representative,9
1752,Sales Representative,9
1439,Sales Representative,9
2023,Sales Representative,9
1876,Sales Representative,9
1702,Sales Representative,7
1780,Sales Representative,7
1691,Sales Representative,7
555,Sales Representative,6
485,Sales Representative,5
614,Sales Representative,5
42,Sales Representative,5
47,Sales Representative,3
1624,Sales Representative,3
1273,Sales Representative,24
1928,Sales Representative,24
167,Sales Representative,22
959,Sales Representative,21
248,Sales Representative,20
922,Sales Representative,2
667,Sales Representative,2
1379,Sales Representative,2
952,Sales Representative,19
648,Sales Representative,12
494,Sales Representative,12
478,Sales Representative,1
554,Sales Representative,1
235,Sales Representative,1
896,Sales Representative,1
1331,Sales Representative,1
1427,Sales Representative,1
1486,Sales Representative,1

In [9]:
--What is the average monthly income for those who quit by department?
SELECT
	department,
	AVG(CAST(monthlyincome AS INT)) AS Average_Monthly_Income
FROM Attrition
WHERE  attrition = 'Yes'
GROUP BY department;

department,Average_Monthly_Income
Human Resources,3715
Research & Development,4108
Sales,5908

In [10]:
--Compare average monthly income by education and attrition.
--Need to convert data type to calculate average; monthlyincome was in varchar(50).
SELECT
	education,
	AVG(CAST(monthlyincome AS INT)) AS Average_Monthly_Income
FROM Attrition
WHERE attrition = 'Yes'
GROUP BY education
ORDER BY education;

education,Average_Monthly_Income
1,4360
2,4282
3,4770
4,5335
5,5850

In [11]:
--Which department(s) had attrition? Did they have a proper work-life balance?
--Need to convert data type to calculate average; worklifebalance was in varchar(50).
SELECT
	department,
	COUNT(department) AS Total_Count,
	AVG(CAST(worklifebalance AS INT)) AS Average_Work_Life_Balance
FROM Attrition
WHERE attrition = 'Yes'
GROUP BY department
ORDER BY department;

department,Total_Count,Average_Work_Life_Balance
Human Resources,12,2
Research & Development,133,2
Sales,92,2